<div id="title">
  <h1>		
    <a id="sitename" href="{{site.baseurl}}">LernMoment.de</a>
  </h1>

  <!-- Add something about you in p tag-->
  <p>Verbessere deine Softwareentwicklung. Täglich!</p>
  <hr/>
  
  {% include nav-links.html %} 

  <h1>
    {% unless site.homepage == "" %}
      <a id="so-ic" href="{{site.homepage}}"><i class="fa fa-home"></i></a>
    {% endunless %}
	  
    {% unless site.youtube == "" %}
      <a id="so-ic" href="{{site.youtube}}"><i class="fa fa-youtube"></i></a>
    {% endunless %}
	  
    {% unless site.twitter == "" %}
      <a id="so-ic" href="{{site.twitter}}"><i class="fa fa-twitter"></i></a>
    {% endunless %}
	  
    {% unless site.facebook == "" %}
      <a id="so-ic" href="{{site.facebook}}"><i class="fa fa-facebook"></i></a>
    {% endunless %}

    {% unless site.git == "" %}
      <a id="git-ic" href="{{site.git}}"><i class="fa fa-github"></i></a>	
    {% endunless %}

    {% unless site.stackoverflow == "" %}
      <a id="so-ic" href="{{site.stackoverflow}}"><i class="fa fa-stack-overflow"></i></a>
    {% endunless %}
		
    {% unless site.email == "" %}
      <a id="so-ic" href="mailto:{{site.email}}"><i class="fa fa-envelope"></i></a>
    {% endunless %}
    
    <a id="so-ic" href="{{ "/about" | prepend:site.baseurl }}"><i class="fa fa-question-circle"></i></a>
  </h1>

</div>


